<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Hotwallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full antialiased container mx-auto flex flex-col min-h-screen">
    <%= render 'dashboard/navbar' %>
    <main class="py-5">
      <%= yield %>
    </main>
  </body>
</html>
